@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
    url('../fonts/opensans/OpenSans.woff2') format('woff2'),
    url('../fonts/opensans/OpenSans.woff') format('woff'),
    url('../fonts/opensans/OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans'),
    url('../fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/ptsans/PTSans-Regular.woff') format('woff'),
    url('../fonts/ptsans/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}