.squares-sect {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $black;
  overflow: hidden;
  
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg/main-bg.png');
    background-size: cover;
    background-position: center;
    transition: transform $long-anim;
  }
  
  &.open-search {
    &:before {
      transform: scale(.95);
    }
    
    .main-control {
      padding: 0 50px;
    }
    
    .squares-sect__search-sect {
      &:before {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }

    .squares-sect__item {
      transform: translate(0);
      overflow: auto;
    }
  }
}

.squares-sect__leag-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.lang-list {
  display: flex;
}

.main-control__search-btn {
  position: relative;
  z-index: 2;
}

.lang-list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7em;
  height: 2.7em;
  background-color: #909eb0;
  text-transform: uppercase;
  font-size: 1.2em;
  color: $black;
  transition: background-color $anim, opacity $anim;
  
  &:active {
    opacity: .7;
  }
  
  &.active {
    background-color: #dbdfe6;
    
    @media screen and (min-width: $first-media) {
      &:hover, &:focus {
        background-color: darken(#dbdfe6, 10%);
      }
    }
  }
  
  @media screen and (min-width: $first-media) {
    &:hover, &:focus {
      background-color: darken(#909eb0, 10%);
    }
  }
}

.squares-sect__main-panel {
  position: relative;
  width: 100%;
  min-height: calc(50vh + 3.5em);
  margin-top: auto;
}

.main-control {
  display: flex;
  justify-content: space-between;
  transition: padding $long-anim;
  
  &.active {
    .open-menu {
      &:before {
        transform: translateY(0em) rotate(45deg);
      }

      &:after {
        transform: translateY(0em) rotate(-45deg);
      }

      & > span {
        opacity: 0;
      }
    }

    .main-control__slider {
      visibility: hidden;
      opacity: 0;
      transition-delay: 0s;
    }
    
    .nav-page__list {
      transform: translateX(0);
      transition-delay: $anim;
    }
  }
}

.search-btn,
.open-menu {
  padding: 1.8em;
  width: 7em;
  height: 7em;
  background-color: $brand-rgba;
  color: $white;
  transition: background-color $anim, opacity $anim;
  
  &:active {
    opacity: .7;
  }
  
  @media screen and (min-width: $first-media) {
    &:hover, &:focus {
      background-color: darken($brand-rgba, 10%);
    }
  }  
}

//.open-menu 
.open-menu {
  position: relative;
  z-index: 13;
  color: $white;

  &:before,
  &:after,
  & > span {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    width: 2em;
    background-color: currentColor;
    transition: transform $anim, opacity $anim;
  }

  &:before {
    transform: translateY(-.6em);
  }

  &:after {
    transform: translateY(.6em);
  }
}

//.bott-panel
.bott-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5em 1.2em;
  background-color: $black-rgba;
  color: $white;
}

.bott-panel__logo,
.bott-panel__social {
  flex: 1;
}

.bott-panel__social {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.logo {
  position: relative;
  display: block;
  width: 9.1em;
  height: 3em;
  transition: opacity $anim;
  
  &:active {
    opacity: .7;
  }
}

.logo__pic {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.contact-list {
  display: flex;
  font-size: 1.13em;
  
  @media screen and (max-width: $second-media) { 
    display: block;
    text-align: center;
    
    .contact-item__title {
      display: none;
    }
  }
}

.contact-item__text {
  transition: opacity $anim;

  &:active {
    opacity: .7;
  }
}

.contact-list__item:not(:last-child) {
  margin-right: 3em;
  
  @media screen and (max-width: $second-media) { 
    margin: 0;
  }
}

//.search-form
.squares-sect__item {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 15;
  transform: translateY(100%);
  transform: translateY(calc(100% - 64px));
  transition: transform $long-anim;
  will-change: transform;

  @media screen and (max-width: $first-media) {
    transform: translateY(calc(100% - 52px));
  }

  @media screen and (max-width: $second-media) {
    transform: translateY(calc(100% - 44px));
  }

  @media screen and (max-width: $third-media) {
    transform: translateY(calc(100% - 36px));
  }
}

.search-sect {
  width: 100%;
  max-height: 100vh;
}

.squares-sect__search-sect {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
    width: 100%;
    height: 100%;
    background-image: url('https://blog.allo.ua/wp-content/uploads/Istoriya-uspeha-Google-ili-Kak-iz-garazhnogo-biznesa-sozdat-mirovogo-IT-giganta.-Google-Karty.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transition: transform $long-anim, opacity $long-anim, visibility $long-anim;
  }
}

.search-form {
  position: relative;
  z-index: 14;
  display: flex;
  padding: 3em 1.5em;
  background-color: $brand-rgba;
  color: $white;
}

.search-form__column {
  flex: 1;
  
  .close {
    margin-left: auto;
  }
}

.search-form__content {
  width: 100%;
  max-width: calc(1245px + 2em);
  padding: 0 1em;
}

.input-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1.2em;
  margin-left: -1em;
  margin-right: -1em;
  
  @media screen and (max-width: $first-media) { 
    justify-content: center;
  }
}

.input-list__item {
  display: flex;
  padding: 0 1em;
  margin-bottom: 1.2em;
  
  &.input-list__item--4 {
    width: 25%;
    
    @media screen and (max-width: $first-media) { 
      width: 33.33%;
    }
    
    @media screen and (max-width: $third-media) { 
      width: 100%;
    }
  }
  
  &.input-list__item--6 {
    width: 16.66%;
    
    @media screen and (max-width: $first-media) { 
      width: 33.33%;
    }
    
    @media screen and (max-width: $third-media) { 
      width: 100%;
    }
  }
}

.search-form__input-list {
  margin-bottom: 1em;
}

.search-form__submit {
  display: flex;
  justify-content: center;
  padding: 0 2em;
  margin-bottom: 2em;
}

.check-list__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -.9em;
}

.check-list__item {
  padding: 0 .9em;
  margin-bottom: .9em;
}

.check-list__title {
  display: block;
  margin-bottom: 1.2em;
  text-align: center;
  font-size: 1.93em;
}

.search-form__ico-sect {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-form__ico {
  display: block;
  width: 3.2em;
  height: 3.2em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.search-form__ico-text {
  font-size: 1.42em;
}

//.panel-slider
.main-control__slider {
  transition: opacity $anim, visibility $anim;
  transition-delay: $long-anim;
}

.main-control__nav{
  display: flex;
}

.panel-slider__item {
  outline: none;
}

.panel-slider {
  width: 60vw;
  max-width: 440px;
  background-color: #d6d7d8;
  
  .slick-arrow {
    position: absolute;
    top: 40px;
    z-index: 2;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-top: none;
    border-left: none;
    font-size: 0;
    transition: opacity $anim;
    
    &:active {
      opacity: .7;
    }
    
    &.slick-next {
      right: 25px;
      transform: rotate(-45deg);
    }
    
    &.slick-prev {
      left: 25px;
      transform: rotate(134deg);
    }
  }
}

.slider-item__desc {
  padding: 2em 1em;
}

.slider-item__title {
  margin-bottom: 2em;
  padding: 0 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8em;
  font-family: $pt-sans;
  text-transform: capitalize;
  text-align: center;
}

.slider-item__foot {
  display: flex;
}

.slider-item__know-more,
.slider-item__price {
  width: 100%;
  color: $white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 3;
}

.slider-item__know-more {
  background-color: $brand-rgba;
  outline: none;
  
  &:active {
    opacity: .7;
  }
}

.slider-item__price {
  background-color: $dkgrey;
}

.slider-item__text {
  line-height: 1.6;
}

//.nav-page
.nav-page {
  position: relative;
}

.nav-page__list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 7em;
  padding: 0 7em;
  background: $dkgrey;
  color: $white;
  transform: translateX(100%);
  transition: transform $long-anim;
}

.nav-page__item {
  display: flex;
  justify-content: center;
  
  &:hover .nav-page__link {
    color: #6DADC2;

    &:before {
      opacity: 1;
    }
  }
  
  &:hover {
    .nav-page__submenu {
      display: flex;
    }
  }
}

.nav-page__link {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin: 0 1em;
  text-transform: uppercase;
  transition:color $anim;
  
  &:hover {
    color: #6DADC2;
    
    &:before {
      opacity: 1;
    }
  }
  
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border: 10px solid transparent;
    border-bottom: 10px solid $lightgrey;
    opacity: 0;
    transition: opacity $anim;
  }
}

.nav-page__submenu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 50vh;
  padding-top: 7em;
  display: none;
}

.submenu__item {
  display: flex;
  width: 25%;

  &+& {
    border-left: 1px solid #f2f2f2;
  }
}

.submenu__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  color: $dkgrey;
  text-align: center;
  transition: background-color $anim;
  
  &:hover {
    background-color:  #f2f2f2;
  }
}

.submenu__title {
  text-transform: uppercase;
  padding: 2em;
}

.submenu__img-wp {
  position: relative;
  flex: 1;
}

























