//fonts
$open-sans: 'Open Sans', arial, sans-serif;
$pt-sans: 'PT Sans', arial, sans-serif;

//color
$brand-color: #6DADC2;
$brand-rgba: rgba(112, 176, 197, 0.93);
$black: #000;
$black-rgba: rgba(19, 18, 18, 0.83);
$white: #fff;

$lightgrey: #F2F2F2;
$dkgrey: #262E31;
$grey: #7a7a7a;

//media
$first-media: 1024px;
$second-media: 767px;
$third-media: 500px;

//transition
$anim: .3s;
$long-anim: .6s;