//fonts
$open-sans: 'Gilroy', arial, sans-serif;
$pt-sans: 'Gilroy', arial, sans-serif;

//color
$brand-color: #6DADC2;
$black: #000;
$white: #fff;

$lightgrey: #F2F2F2;
$dkgrey: #262E31;
$grey: #7a7a7a;

//media
$first-media: 1024px;
$second-media: 767px;
$threed-media: 590px;